<!DOCTYPE html>
<html
  xmlns:layout="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.w3.org/1999/xhtml"
  layout:decorate="~{layouts/base}"
  lang="en"
>
  <div layout:fragment="head" th:remove="tag">
    <!-- Page specific head additions -->
    <title>City Data</title>

  </div>

  <!-- <body> -->
  <div layout:fragment="body" th:remove="tag">
    <!-- Page specific body additions -->
    <div class="container">
      <h1 style="text-align: center; font-size: 50px">
        City Data </h1>

      <table class="players" border="1">
        <tr>
          <th>Name</th>
          <th>Country</th>
          <th>Region</th>
          <th>Region Code</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Population</th>
        </tr>
        <tr th:each="city : ${jobject.data}">
          <td th:text="${city.name}"></td>
          <td th:text="${city.country}"></td>
          <td th:text="${city.region}"></td>
          <td th:text="${city.regionCode}"></td>
          <td th:text="${city.latitude}"></td>
          <td th:text="${city.longitude}"></td>
          <td th:text="${city.population}"></td>
        </tr>
      </table>
    </div>
  </div>


</html>

<style>
    .players {
        position:absolute;
        left:275px;
        text-align: center;
        padding-right:30%;
    }
</style>