<!DOCTYPE html>
<html
  xmlns:layout="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.w3.org/1999/xhtml"
  layout:decorate="~{layouts/base}"
  lang="en"
>
  <div layout:fragment="head" th:remove="tag">
    <!-- Page specific head additions -->
    <title>Earthquakes</title>

  </div>

  <!-- <body> -->
  <div layout:fragment="body" th:remove="tag">
    <!-- Page specific body additions -->
    <div class="container">
      <h1 style="text-align: center; font-size: 50px">
        City Data </h1>

      <table class="players" border="1">
        <tr>
          <th>Event Number</th>
          <th>Date</th>
          <th>Time</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Magnitude</th>
          <th>Location</th>
        </tr>
        <tr th:each="eq : ${jobject.data}">
          <td th:text="${eq.event_number}"></td>
          <td th:text="${eq.date}"></td>
          <td th:text="${eq.time}"></td>
          <td th:text="${eq.latitude}"></td>
          <td th:text="${eq.longitude}"></td>
          <td th:text="${eq.magnitude}"></td>
          <td th:text="${eq.location}"></td>

        </tr>
      </table>
    </div>
  </div>


</html>

<style>
    .players {
        position:absolute;
        left:275px;
        text-align: center;
        padding-right:30%;
    }
</style>