<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

      <title>Desmos</title>

<body>
<th:block layout:fragment="body" th:remove="tag">
<html>
    <head>
        <script src="https://www.desmos.com/api/v0.5/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
    </head>
    <body>
        <div id="calculator" style="width: 1480px; height: 750px;"></div>
        <script>
            var myCalculator = Desmos.Calculator(document.getElementById('calculator'));
        </script>
        </th:block>
    </body>
</html>